name: CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "14"

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: |
          # Agrega aquí comandos para minificar o compilar tu código si es necesario
          # Por ejemplo, puedes usar herramientas como UglifyJS para JavaScript y PostCSS para CSS.

      - name: Run Tests (si tienes)
        run: |
          # Agrega aquí comandos para ejecutar pruebas si es necesario

      - name: Deploy (si es necesario)
        run: |
          # Agrega aquí comandos para implementar tu aplicación si es necesario
